rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /submissions/{document} {
      allow read: if true;
      allow create: if request.resource.data.name is string
                    && request.resource.data.name.size() > 0
                    && request.resource.data.name.size() <= 120
                    && request.resource.data.whyRecommend is string
                    && request.resource.data.whyRecommend.size() > 0
                    && request.resource.data.whyRecommend.size() <= 2000
                    && request.resource.data.googleMapsUrl is string
                    && request.resource.data.googleMapsUrl.size() <= 500;
      allow update, delete: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
